* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor0: #d0dbc1;
    --cor1: #dae5ca;
    --cor2: #e0ecd0;
}

/* Header*/

header {
    border-bottom: 1px solid Gainsboro;
    padding-top: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 80px 0 80px;
}

.logo {
    width: 300px;
}

#logo {
    width: 120px;
    height: 60px;
    border-radius: 15px;
    padding-right: 10px;
}

.button {
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    list-style: none;
    background: transparent;
    font-size: 17px;
}

.lateral-direita {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icones-lateral {
    border: 1px solid silver; 
    border-radius: 24px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*Formulário de busca*/ 

.busca-site-mobile {
    display: none;
}

.busca-site {
    border: 1px solid silver;
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}


.busca-site form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.item {
    flex: 1;
    min-width: 150px;
    margin: 5px;
}

.busca-site form label {
    font-weight: 500;
}

.busca-site form input {
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
}

#botao {
    background-color: var(--cor1);
    width: 55px;
    height: 55px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
}

/*Filtro*/ 
main {
    margin-bottom: 35px;
}

.filtro {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.filtro-dentro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.filtro-icones, .filtro-icones-maiores {
    cursor: pointer;
    text-align: center;
    width: 100px;
}

.filtro-icones-maiores {
    width: 130px;
}

.filtro-icones img, .filtro-icones-maiores img {
    width: 30px;
    height: 30px;
}

.filtro-icones p {
    font-size: 15px;
}

/*Galeria de imagens*/

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
}

.gallery-items {
    width: 100%;
    max-width: 320px;
    height: 320px;
    text-decoration: none;
    margin-bottom: 90px;
    flex-grow: 1;
}

.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.gallery-items p {
    padding-bottom: 12px;
    color: dark;
    padding: 10px 0 0 0;
}

                /*Rodapé*/
  footer {
    background-color: #DCDCDC;
    padding: 40px 0 20px 0;
  }

  .rodape {
    display: flex;
    padding: 0 40px 30px 40px;
    margin: 30px 0 30px 0;
    border-bottom: 1px solid #C0C0C0;
    gap: 20px;
  }

  .menu-rodape {
    display: flex;
    gap: 18vw;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #C0C0C0;
    margin: 0 40px 0 40px;
  }

  .atendimento a {
    display: flex;
    text-decoration: none;
    color: #363636;
    margin: 10px 0 10px 0;
  }

  .rodape-inferior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 0 40px;
  }

  .rodape-inferior .items {
    display: flex;
    gap: 20px;
    align-items:center;
  }

                                        /*Página Reserva*/


    .header-reserva {
    height: 80px;
    border-bottom: 1px solid #DCDCDC;
    align-items: center;
    display: flex;

  }

  .header-reserva img {
    margin: 50px;

  }

  .reserva{ 
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-bottom: 90px;
  }         

  .conteudo-principal {
    width: 550px;
  }

  .conteudo{
    border-bottom: 1px solid silver;
  }

  .conteudo a {
    color: #000000;
    cursor: pointer;
  }

  #logo-reserva {
    width: 100px;
    height: 50px;
    border-radius: 15px;
  }

  .titulo {
    font-size: 30px;
    margin: 50px 0;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  #subtitulo {
    font-size: 23px;
    margin: 0 10px 10px 0;
  }

  .datas-viagem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .datas {
    display: block;
  }

  .datas p {
    margin-bottom: 5px;
  }

  .cadastro {
    margin: 15px 0;
  }

  .cadastro p {
    font-size: 23px;
    font-weight: 500;
  }

  /*Formulario*/
fieldset {
    border: 0;
}

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.grupo p {
    font-size: 15px;
    margin-top: 3px;
}

.grupo p a{
    color: black;
    font-weight: 500;
}

.campo label {
    margin-bottom: 0.2em;
    color: #000000;
    display: block;
}

.campo {
    max-width: 1200px;
}

.campo input[type="number"], .campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #000000;
    display: block;
    width: 100%;
    height: 55px;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}


.botao {
    font-size: 1.1em;
    background: #dae5ca;
    border: 0;
    margin-top: 1em;
    color: #000000;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    width: 550px;
    height: 40px;
}


.botao:hover {
    background: #d0dbc1;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}

.conexao {
    display: flex;
    justify-content: space-between; 
}

.campo-redes {
    width: 260px;
}

.botao-conexao {
    display: block;
    width: 100%;
    height: 55px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: transparent;
    margin: 10px 0;
}

.dividir {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0 10px 0;
}

.dividir::before,
.dividir::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.dividir::before {
    margin-right: 10px;
}

.dividir::after {
    margin-left: 10px;
}

.botao-email {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 550px;
    height: 60px;
    border: 1px solid #333;
    border-radius: 12px;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.3s ease;
    font-size: 16px;
}

.botao-email::after {
    content: '';
    width: 24px;
    height: 24px;
}

.botao-email img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.conteudo-secundario {
    display: flex;
    width: 450px;
    height: 650px;
    align-items: center;
}

.cont-sec {
    width: 100%;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    padding-bottom: 20px;
}

.anuncio {
    display: flex;
    gap: 13px;
    width: 100%;
    padding: 20px;
}

.anuncio img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.informações-anuncio p {
   margin-bottom: 10px;
}


.preco, .total {
    padding: 0 20px;
    width: 100%;
}

.informacoes {
    width: 100%;
    border-top: 1px solid #DCDCDC;
}

#informacoes-preco {
    font-size: 20px;
    margin-top: 20px;
}

.valores {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.valores a {
    color: black;
}

.total-final {  
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #DCDCDC;
    margin-top: 20px;
}

.total-final p {
    margin-top: 20px;
}

.rodape-reserva {
    border-top: 1px solid #DCDCDC;
    background-color: #f7f7f7;
    height: 70px;
}

.rodape-inferior-reserva {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .rodape-inferior-reserva .items {
    display: flex;
    gap: 20px;
    align-items: center;
  }

                                    /*perfil usuario*/
    .header-usuario {
    height: 80px;
    border-bottom: 1px solid #E6E6E6;
    align-items: center;
    display: flex;
    margin:0 auto;

  }

  .header-usuario img {
    margin: 50px;
  }

  .superior-usuario {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .conteudo-pagina-usuario {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 60px 0;
  }

.lat-esq {
    width: 350px;
}

.nome-usuario {
    width: 100%;
    height: 240px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 50px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont-usuario {
    text-align: center;
    margin-left: 50px;
}

.imagem {
    width: 105px;
    height: 105px;
    background-image: url("img/foto-perfil.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.cont-usuario p {
    font-size: 30px;
    margin: 10px 0 5px 0;
}

.cont-avaliacoes .text {
    padding: 10px 20px 10px 0;
}

.informacoes-usuario {
    margin-top: 40px;
    border: 1px solid #D8D8D8;
    border-radius: 20px;
    padding: 30px 20px 30px 20px;
}

.check-list {
    display: flex;
    gap: 10px;
    margin: 15px 0; 
}

.informacoes-usuario a {
    color: black;
}

.lat-dir {
    width: 700px;
}

.infor-lat-dir{
    border-bottom: 1px solid #D8D8D8;
}

.infor-lat-dir button {
    background-color: transparent;
    padding: 8px 10px 8px 10px;
    border-radius: 10px;  
    border: 1px solid #424242;
    margin-bottom: 35px;
}

.regiao-lat-dir {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 35px;
}

.filtro-lugares {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}


.caixa-depoimentos{
    border: 1px solid #D8D8D8;
    width: 380px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
}

.infor-depoimentos {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    align-items: center;
}

.depoimentos-lat-dir {
    margin-bottom: 40px;
}

.imagem-depoimento {
    width: 50px;
    height: 50px;
    background-image: url("img/depoimento.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.lugares-lat-dir {
    border-top: 1px solid #D8D8D8;
    height: 300px;
}




                                    /* Media Queries */
@media screen and (max-width: 600px) {
      /*Cabeçalho*/

    header {
        border: none;
    }

    .navbar, #botao {
        display: none;
    }

    .busca-site {
        display: none;
        }
        
    .busca-site-mobile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
        margin-bottom: 20px;
    }
        
    .busca-site-mobile form {
        width: 100%;
    }
    
    .container-busca {
        font-family: Arial, sans-serif;
        box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
        padding: 10px;
        border: 1px solid #D8D8D8;
        max-width: 100%;
        border-radius: 50px;
        margin: 0 30px;
    }
        
    .campo-busca {
        margin-left: 60px;
        font-size: 16px;
        font-weight: 600;
    }
        
    .icone-busca {
        position: absolute;
        left: 50px;
        top: 5%;
        transform: translateY(10%);
        width: 35px;
        height: 35px;
    }
        
    .sugestoes-busca {
        padding-left: 60px;
        display: flex;
        gap: 5px;
        font-size: 12px;
    }
        
    .sugestao-busca {
        padding: 5px 0;
    }

    /*Filtro*/


    /*Galeria*/
    .gallery-container {
        gap: 50px;
        padding: 0;
    }


    /*Footer*/
    footer {
        border-top: 1px solid #D8D8D8;
        background-color: #f7f7f7;
        padding: 20px 0 0 0;
    }

    #footer-p, .rodape {
        display: none;
    }

    .menu-rodape {
        flex-direction: column;
        margin: 0 25px;
        gap: 5vw;
        padding: 0;
    }

    .div-item-rodape {
        border-bottom: 1px solid #D8D8D8;
    }

    .atendimento {
        padding-bottom: 10px;
    }

    .rodape-inferior {
        flex-direction: column-reverse;
        margin: 20px 0 50px 30px;
        padding: 0;
    }

    .rodape-inferior .items{
        justify-content: left;
        flex-wrap: wrap;
    }

    .rodape-inferior .items-icones{
        display: flex;
        justify-content: left;
        gap: 12px;
        width: 100%;
        margin-bottom: 13px;
    }

    .icone-desktop {
        display: none;
    }

}










    /*
    .button {
        margin: 10px 0;
    }
  
    .lateral-direita {
        flex-direction: column;
        align-items: flex-start;
    }
  
    .icones-lateral {
        border: none;
        padding: 5px;
    }

    .item {
        flex-basis: 100%;
        margin: 5px 0;
    }
  
    .busca-site {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        max-width: 600px;
        margin: 20px auto;
    }

    .busca-site form {
        display: flex;
    }

    .busca-site label {
        margin-top: 10px;
    }

    .busca-site input {
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .busca-site button {
        margin-top: 20px;
        padding: 10px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
  
    .filtro {
        margin: 0 2%;
    }

    .filtro-dentro {
        gap: 10px;
    }
  
    .filtro-icones, .filtro-icones-maiores {
        width: auto;
    }
  
    .gallery-container {
        padding: 0;
    }
  
    .gallery-items {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
  
    footer {
        padding: 20px 0;
    }

    .rodape {
        margin: 20px 0;
    }

    .menu-rodape {
        margin: 20px 0;
    }

    .menu-rodape div {
        margin: 20px 0;
    }
  } 

@media (max-width: 480px) {
    .busca-site {
        width: 100%;
    }
    
    .filtro {
        margin: 0 10px;
    }
    
    .filtro-icones, .filtro-icones-maiores {
        width: 60px;
    }

    .filtro-dentro {
        gap: 5px;
    }

    .gallery-items {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

*/